{
    "openapi": "3.1.0",
    "info": {
        "title": "ezyshield",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://local-vj8qtz.ezyshield.com.au/api"
        }
    ],
    "tags": [
        {
            "name": "Organizations"
        },
        {
            "name": "API Keys"
        },
        {
            "name": "Verifications"
        },
        {
            "name": "Checks"
        },
        {
            "name": "Webhook Subscriptions"
        },
        {
            "name": "Webhook Events"
        }
    ],
    "paths": {
        "/organization": {
            "get": {
                "operationId": "organization.show",
                "summary": "Get the current organization",
                "tags": [
                    "Organizations"
                ],
                "responses": {
                    "200": {
                        "description": "`OrganizationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrganizationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/api-keys": {
            "get": {
                "operationId": "api-keys.index",
                "description": "Requires the `api_key:read` ability.",
                "summary": "List all API keys",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `ApiKeyResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ApiKeyResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "api-keys.store",
                "description": "The plain text token is only returned once and should be stored securely.\n\nRequires the `api_key:write` ability.",
                "summary": "Create an API key",
                "tags": [
                    "API Keys"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreApiKeyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`ApiKeyResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ApiKeyResource"
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api-keys/{apiKey}": {
            "get": {
                "operationId": "api-keys.show",
                "description": "Requires the `api_key:read` ability.",
                "summary": "Get an API key",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "description": "The api key prefixed id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "path",
                        "required": true,
                        "description": "The API key ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`ApiKeyResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ApiKeyResource"
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "api-keys.update",
                "description": "Requires the `api_key:write` ability.",
                "summary": "Update an API key",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "description": "The api key prefixed id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "path",
                        "required": true,
                        "description": "The API key ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateApiKeyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`ApiKeyResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ApiKeyResource"
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "api-keys.destroy",
                "description": "Requires the `api_key:write` ability.",
                "summary": "Delete an API key",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "description": "The api key prefixed id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "path",
                        "required": true,
                        "description": "The API key ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "minItems": 0,
                                    "maxItems": 0,
                                    "additionalItems": false
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/verifications": {
            "get": {
                "operationId": "verifications.index",
                "description": "Requires the `verification:read` ability.",
                "summary": "List all verifications",
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "The current status of the verification.",
                        "schema": {
                            "$ref": "#/components/schemas/VerificationStatus"
                        }
                    },
                    {
                        "name": "filter[attribution_id]",
                        "in": "query",
                        "description": "The attribution ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `VerificationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/VerificationResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "verifications.store",
                "description": "Requires the `verification:write` ability.",
                "summary": "Create a verification",
                "tags": [
                    "Verifications"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreVerificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`VerificationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/VerificationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/verifications/{verification}": {
            "get": {
                "operationId": "verifications.show",
                "description": "Requires the `verification:read` ability.",
                "summary": "Get a verification",
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`VerificationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/VerificationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/verifications/{verification}/checks": {
            "get": {
                "operationId": "verifications.checks.index",
                "description": "Requires the `check:read` ability.",
                "summary": "List all checks for a verification",
                "tags": [
                    "Checks"
                ],
                "parameters": [
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `CheckResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CheckResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "verifications.checks.store",
                "description": "Requires the `check:write` ability.",
                "summary": "Check a verification",
                "tags": [
                    "Checks"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`CheckResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CheckResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/verifications/{verification}/checks/{check}": {
            "get": {
                "operationId": "verifications.checks.show",
                "description": "Requires the `check:read` ability.",
                "summary": "Get a check for a verification",
                "tags": [
                    "Checks"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "check",
                        "in": "path",
                        "required": true,
                        "description": "The check ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CheckResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CheckResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/webhook-subscriptions": {
            "get": {
                "operationId": "webhook-subscriptions.index",
                "description": "Requires the `webhook_subscription:read` ability.",
                "summary": "List all webhook subscriptions",
                "tags": [
                    "Webhook Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `WebhookSubscriptionResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/WebhookSubscriptionResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "webhook-subscriptions.store",
                "description": "Requires the `webhook_subscription:write` ability.",
                "summary": "Create a webhook subscription",
                "tags": [
                    "Webhook Subscriptions"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreWebhookSubscriptionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`WebhookSubscriptionResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/WebhookSubscriptionResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/webhook-subscriptions/{webhookSubscription}": {
            "get": {
                "operationId": "webhook-subscriptions.show",
                "description": "Requires the `webhook_subscription:read` ability.",
                "summary": "Get a webhook subscription",
                "tags": [
                    "Webhook Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "webhookSubscription",
                        "in": "path",
                        "required": true,
                        "description": "The webhook subscription ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`WebhookSubscriptionResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/WebhookSubscriptionResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "webhook-subscriptions.update",
                "description": "Requires the `webhook_subscription:write` ability.",
                "summary": "Update a webhook subscription",
                "tags": [
                    "Webhook Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "webhookSubscription",
                        "in": "path",
                        "required": true,
                        "description": "The webhook subscription ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWebhookSubscriptionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`WebhookSubscriptionResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/WebhookSubscriptionResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "webhook-subscriptions.destroy",
                "description": "Requires the `webhook_subscription:write` ability.",
                "summary": "Delete a webhook subscription",
                "tags": [
                    "Webhook Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "webhookSubscription",
                        "in": "path",
                        "required": true,
                        "description": "The webhook subscription ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "minItems": 0,
                                    "maxItems": 0,
                                    "additionalItems": false
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/webhook-subscriptions/{webhookSubscription}/enable": {
            "post": {
                "operationId": "webhook-subscriptions.enable",
                "description": "Resets the consecutive failure count and re-enables the subscription.\n\nRequires the `webhook_subscription:write` ability.",
                "summary": "Enable a disabled webhook subscription",
                "tags": [
                    "Webhook Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "webhookSubscription",
                        "in": "path",
                        "required": true,
                        "description": "The webhook subscription ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`WebhookSubscriptionResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/WebhookSubscriptionResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/webhook-subscriptions/{webhookSubscription}/webhook-events": {
            "get": {
                "operationId": "webhook-subscriptions.webhook-events.index",
                "description": "Requires the `webhook_event:read` ability.",
                "summary": "List all webhook events for a subscription",
                "tags": [
                    "Webhook Events"
                ],
                "parameters": [
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "webhookSubscription",
                        "in": "path",
                        "required": true,
                        "description": "The webhook subscription ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "filter[type]",
                        "in": "query",
                        "description": "Filter by event type.",
                        "schema": {
                            "$ref": "#/components/schemas/WebhookEventType"
                        }
                    },
                    {
                        "name": "filter[created_at_start]",
                        "in": "query",
                        "description": "Filter events created on or after this datetime.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[created_at_end]",
                        "in": "query",
                        "description": "Filter events created on or before this datetime.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `WebhookEventResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/WebhookEventResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/WebhookEventAttemptResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/webhook-subscriptions/{webhookSubscription}/webhook-events/{webhookEvent}": {
            "get": {
                "operationId": "webhook-subscriptions.webhook-events.show",
                "description": "Requires the `webhook_event:read` ability.",
                "summary": "Get a webhook event",
                "tags": [
                    "Webhook Events"
                ],
                "parameters": [
                    {
                        "name": "webhookSubscription",
                        "in": "path",
                        "required": true,
                        "description": "The webhook subscription ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "webhookEvent",
                        "in": "path",
                        "required": true,
                        "description": "The webhook event ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`WebhookEventResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/WebhookEventResource"
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/WebhookEventAttemptResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApiKeyResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "api-keys"
                        ]
                    },
                    "attributes": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "The name of the API key."
                            },
                            "token": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "description": "The plain text token, only shown once when created."
                            },
                            "abilities": {
                                "type": "array",
                                "description": "The abilities/permissions for the API key.",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "created_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time",
                                "description": "ISO 8601 formatted date-time."
                            },
                            "last_used_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time",
                                "description": "ISO 8601 formatted date-time."
                            },
                            "expires_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time",
                                "description": "ISO 8601 formatted date-time."
                            }
                        },
                        "required": [
                            "name",
                            "abilities",
                            "created_at",
                            "last_used_at",
                            "expires_at"
                        ]
                    },
                    "relationships": {
                        "type": "object",
                        "properties": {
                            "creator": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "anyOf": [
                                            {
                                                "$ref": "#/components/schemas/UserResourceIdentifier"
                                            },
                                            {
                                                "type": "null"
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "data"
                                ]
                            }
                        }
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "ApiKeyResource"
            },
            "CheckResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "checks"
                        ]
                    },
                    "attributes": {
                        "type": "object",
                        "properties": {
                            "result": {
                                "description": "The result of the check.",
                                "$ref": "#/components/schemas/CheckResult"
                            },
                            "created_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time",
                                "description": "ISO 8601 formatted date-time."
                            }
                        },
                        "required": [
                            "result",
                            "created_at"
                        ]
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "CheckResource"
            },
            "CheckResult": {
                "type": "string",
                "enum": [
                    "uncompromised",
                    "compromised"
                ],
                "title": "CheckResult"
            },
            "IndividualVerificationMode": {
                "type": "string",
                "enum": [
                    "kyc",
                    "biometric",
                    "skip"
                ],
                "title": "IndividualVerificationMode"
            },
            "OrganizationResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "organizations"
                        ]
                    },
                    "attributes": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "The name of the organization."
                            },
                            "slug": {
                                "type": "string",
                                "description": "The organization's unique slug."
                            },
                            "created_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time",
                                "description": "ISO 8601 formatted date-time."
                            },
                            "updated_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time",
                                "description": "ISO 8601 formatted date-time."
                            }
                        },
                        "required": [
                            "name",
                            "slug",
                            "created_at",
                            "updated_at"
                        ]
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "title": "OrganizationResource"
            },
            "StoreApiKeyRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "The name of the API key.",
                        "maxLength": 255
                    },
                    "abilities": {
                        "type": "array",
                        "description": "The abilities/permissions for the API key.",
                        "items": {
                            "type": "string",
                            "enum": [
                                "api_key:read",
                                "api_key:write",
                                "verification:read",
                                "verification:write",
                                "check:read",
                                "check:write",
                                "webhook_subscription:read",
                                "webhook_subscription:write",
                                "webhook_event:read"
                            ]
                        }
                    }
                },
                "required": [
                    "name",
                    "abilities"
                ],
                "title": "StoreApiKeyRequest"
            },
            "StoreCheckRequest": {
                "type": "object",
                "properties": {
                    "business": {
                        "type": "object",
                        "description": "Business owning the bank account.",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Business name.",
                                "maxLength": 255
                            },
                            "abn": {
                                "type": "string",
                                "description": "Australian Business Number (ABN). Must be 11 digits."
                            }
                        }
                    },
                    "account": {
                        "type": "object",
                        "description": "Bank account details.",
                        "properties": {
                            "bsb": {
                                "type": "string",
                                "description": "Bank State Branch (BSB) code. Must be 6 digits."
                            },
                            "number": {
                                "type": "string",
                                "description": "Bank account number. Must be 6-10 digits."
                            },
                            "name": {
                                "type": "string",
                                "description": "Bank account name.",
                                "maxLength": 255
                            }
                        },
                        "required": [
                            "bsb",
                            "number",
                            "name"
                        ]
                    },
                    "individual": {
                        "type": "object",
                        "description": "Individual details.",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Individual's full legal name. Must include a space between first name(s) and last name (e.g., \"John Michael Doe\").",
                                "pattern": "^[^\\s]+\\s+[^\\s]+",
                                "maxLength": 255
                            },
                            "mobile": {
                                "type": "string",
                                "description": "Individual's Australian mobile number."
                            }
                        },
                        "required": [
                            "name"
                        ]
                    }
                },
                "required": [
                    "account",
                    "individual"
                ],
                "title": "StoreCheckRequest"
            },
            "StoreVerificationRequest": {
                "type": "object",
                "properties": {
                    "attribution_id": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Attribution identifier for grouping related verifications.",
                        "maxLength": 255
                    },
                    "business": {
                        "type": "object",
                        "description": "Business owning the bank account.",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Business name.",
                                "maxLength": 255
                            },
                            "abn": {
                                "type": "string",
                                "description": "Australian Business Number (ABN). Must be 11 digits."
                            }
                        }
                    },
                    "account": {
                        "type": "object",
                        "description": "Bank account details.",
                        "properties": {
                            "bsb": {
                                "type": "string",
                                "description": "Bank State Branch (BSB) code. Must be 6 digits."
                            },
                            "number": {
                                "type": "string",
                                "description": "Bank account number. Must be 6-10 digits."
                            },
                            "name": {
                                "type": "string",
                                "description": "Bank account name.",
                                "maxLength": 255
                            }
                        },
                        "required": [
                            "bsb",
                            "number",
                            "name"
                        ]
                    },
                    "individual": {
                        "type": "object",
                        "description": "Individual details.",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Individual's full legal name. Must include a space between first name(s) and last name (e.g., \"John Michael Doe\").",
                                "pattern": "^[^\\s]+\\s+[^\\s]+",
                                "maxLength": 255
                            },
                            "mobile": {
                                "type": "string",
                                "description": "Individual's Australian mobile number. Required when `individual.confirmation_notification_method` is provided."
                            },
                            "verification_mode": {
                                "description": "Verification mode for the individual.\n- `kyc`: Run full KYC to establish identity (biometric authentication on subsequent verifications).\n- `biometric`: Biometric authentication with client-provided portrait image.\n- `skip`: Skip individual verification entirely.",
                                "$ref": "#/components/schemas/IndividualVerificationMode"
                            },
                            "confirmation_notification_method": {
                                "type": "array",
                                "description": "Notification channels to use for sending the confirmation link to the individual. When null, the URL is returned in API response. Must be omitted when `individual.verification_mode` is `skip`.",
                                "items": {
                                    "type": "string",
                                    "enum": [
                                        "sms"
                                    ]
                                }
                            },
                            "portrait_image": {
                                "type": "string",
                                "description": "Individual's government-issued ID portrait image. Required for biometric authentication when `individual.verification_mode` is `biometric`. The image must be a valid base64-encoded JPEG or PNG image up to 5MB when decoded. The data URI prefix `data:[MIME type];base64,` is optional.\n\nRequired when `individual.verification_mode` is `biometric`, otherwise it must be omitted.",
                                "example": "data:image/jpeg;base64,/9j/..."
                            }
                        },
                        "required": [
                            "name",
                            "verification_mode"
                        ]
                    }
                },
                "required": [
                    "account",
                    "individual"
                ],
                "title": "StoreVerificationRequest"
            },
            "StoreWebhookSubscriptionRequest": {
                "type": "object",
                "properties": {
                    "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "The webhook endpoint URL.",
                        "maxLength": 2048
                    },
                    "events": {
                        "type": "array",
                        "description": "The event types to subscribe to.",
                        "items": {
                            "description": "Each event type must be a valid WebhookEventType.",
                            "$ref": "#/components/schemas/WebhookEventType"
                        },
                        "minItems": 1
                    }
                },
                "required": [
                    "url",
                    "events"
                ],
                "title": "StoreWebhookSubscriptionRequest"
            },
            "UpdateApiKeyRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "The name of the API key.",
                        "maxLength": 255
                    }
                },
                "required": [
                    "name"
                ],
                "title": "UpdateApiKeyRequest"
            },
[...]
