{
    "openapi": "3.1.0",
    "info": {
        "title": "ezyshield",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://app.ezyshield.com.au/api",
            "description": "Production"
        },
        {
            "url": "https://sandbox.ezyshield.com.au/api",
            "description": "Sandbox"
        }
    ],
    "tags": [
        {
            "name": "Organizations"
        },
        {
            "name": "API Keys"
        },
        {
            "name": "Verifications"
        },
        {
            "name": "Checks"
        },
        {
            "name": "ABA checks"
        },
        {
            "name": "Webhook Subscriptions"
        },
        {
            "name": "Webhook Events"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/organization": {
            "get": {
                "operationId": "organization.show",
                "summary": "Get the current organization",
                "tags": [
                    "Organizations"
                ],
                "parameters": [
                    {
                        "name": "fields[organizations]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "slug",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`OrganizationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrganizationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/organization/reset": {
            "post": {
                "operationId": "organization.reset",
                "description": "Deletes sandbox account data and revokes every API key for the organization,\nincluding the key used for this request. Clears WorkOS invitations and\nmemberships, disconnects accounting providers where supported, and preserves\nlocal users and billing usage.\nRequires the `verification:write` ability.",
                "summary": "Reset the current sandbox organization",
                "tags": [
                    "Organizations"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "minItems": 0,
                                    "maxItems": 0,
                                    "additionalItems": false
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/api-keys": {
            "get": {
                "operationId": "api-keys.index",
                "description": "Requires the `api_key:read` ability.",
                "summary": "List all API keys",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `created_at`, `last_used_at`, `expires_at`, `name`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-created_at`.",
                        "schema": {
                            "type": "string",
                            "default": "-created_at"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "creator"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[api-keys]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "token",
                                    "abilities",
                                    "created_at",
                                    "last_used_at",
                                    "expires_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[users]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "email",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "filter[name]",
                        "in": "query",
                        "description": "Filter by API key name.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "Production key"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `ApiKeyResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ApiKeyResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "api-keys.store",
                "description": "The plain text token is only returned once and should be stored securely.\n\nRequires the `api_key:write` ability.",
                "summary": "Create an API key",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "include",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "creator"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[api-keys]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "token",
                                    "abilities",
                                    "created_at",
                                    "last_used_at",
                                    "expires_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[users]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "email",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreApiKeyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`ApiKeyResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ApiKeyResource"
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api-keys/{api_key}": {
            "get": {
                "operationId": "api-keys.show",
                "description": "Requires the `api_key:read` ability.",
                "summary": "Get an API key",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "path",
                        "required": true,
                        "description": "The API key ID. Example: `key_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "creator"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[api-keys]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "token",
                                    "abilities",
                                    "created_at",
                                    "last_used_at",
                                    "expires_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[users]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "email",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`ApiKeyResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ApiKeyResource"
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "api-keys.update",
                "description": "Requires the `api_key:write` ability.",
                "summary": "Update an API key",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "path",
                        "required": true,
                        "description": "The API key ID. Example: `key_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "creator"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[api-keys]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "token",
                                    "abilities",
                                    "created_at",
                                    "last_used_at",
                                    "expires_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[users]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "email",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateApiKeyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`ApiKeyResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ApiKeyResource"
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "api-keys.destroy",
                "description": "Requires the `api_key:write` ability.",
                "summary": "Delete an API key",
                "tags": [
                    "API Keys"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "path",
                        "required": true,
                        "description": "The API key ID. Example: `key_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "minItems": 0,
                                    "maxItems": 0,
                                    "additionalItems": false
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/verifications": {
            "get": {
                "operationId": "verifications.index",
                "description": "Requires the `verification:read` ability.",
                "summary": "List all verifications",
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `created_at`, `updated_at`, `status`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-created_at`.",
                        "schema": {
                            "type": "string",
                            "default": "-created_at"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "fields[verifications]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "business_name",
                                    "business_abn",
                                    "account_name",
                                    "account_bsb",
                                    "account_number",
                                    "individual_name",
                                    "individual_mobile",
                                    "individual_confirmation_mode",
                                    "send_individual_confirmation_sms",
                                    "accept_close_match",
                                    "attribution_id",
                                    "individual_confirmation_url",
                                    "failure_reason",
                                    "checks",
                                    "resolved_individual_name",
                                    "resolved_business_entity_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "The current status of the verification.",
                        "schema": {
                            "examples": [
                                "successful"
                            ],
                            "$ref": "#/components/schemas/VerificationStatus"
                        }
                    },
                    {
                        "name": "filter[attribution_id]",
                        "in": "query",
                        "description": "The attribution ID.",
                        "schema": {
                            "type": "string",
                            "examples": [
                                "invoice-123"
                            ]
                        }
                    },
                    {
                        "name": "filter[created_at_start]",
                        "in": "query",
                        "description": "Filter verifications created on or after this datetime.",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "examples": [
                                "2026-04-01T00:00:00Z"
                            ]
                        }
                    },
                    {
                        "name": "filter[created_at_end]",
                        "in": "query",
                        "description": "Filter verifications created on or before this datetime.",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "examples": [
                                "2026-04-30T23:59:59Z"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `VerificationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/VerificationResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "verifications.store",
                "description": "Requires the `verification:write` ability.",
                "summary": "Create a verification",
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "fields[verifications]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "business_name",
                                    "business_abn",
                                    "account_name",
                                    "account_bsb",
                                    "account_number",
                                    "individual_name",
                                    "individual_mobile",
                                    "individual_confirmation_mode",
                                    "send_individual_confirmation_sms",
                                    "accept_close_match",
                                    "attribution_id",
                                    "individual_confirmation_url",
                                    "failure_reason",
                                    "checks",
                                    "resolved_individual_name",
                                    "resolved_business_entity_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreVerificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`VerificationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/VerificationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/verifications/{verification}": {
            "get": {
                "operationId": "verifications.show",
                "description": "Requires the `verification:read` ability.",
                "summary": "Get a verification",
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID. Example: `ver_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields[verifications]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "business_name",
                                    "business_abn",
                                    "account_name",
                                    "account_bsb",
                                    "account_number",
                                    "individual_name",
                                    "individual_mobile",
                                    "individual_confirmation_mode",
                                    "send_individual_confirmation_sms",
                                    "accept_close_match",
                                    "attribution_id",
                                    "individual_confirmation_url",
                                    "failure_reason",
                                    "checks",
                                    "resolved_individual_name",
                                    "resolved_business_entity_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`VerificationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/VerificationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/verifications/{verification}/cancel": {
            "post": {
                "operationId": "verifications.cancel",
                "description": "Requires the `verification:write` ability.",
                "summary": "Cancel a verification",
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID. Example: `ver_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields[verifications]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "business_name",
                                    "business_abn",
                                    "account_name",
                                    "account_bsb",
                                    "account_number",
                                    "individual_name",
                                    "individual_mobile",
                                    "individual_confirmation_mode",
                                    "send_individual_confirmation_sms",
                                    "accept_close_match",
                                    "attribution_id",
                                    "individual_confirmation_url",
                                    "failure_reason",
                                    "checks",
                                    "resolved_individual_name",
                                    "resolved_business_entity_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`VerificationResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/VerificationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/verifications/{verification}/checks": {
            "get": {
                "operationId": "verifications.checks.index",
                "description": "Requires the `check:read` ability.",
                "summary": "List all checks for a verification",
                "tags": [
                    "Checks"
                ],
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `created_at`, `result`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-created_at`.",
                        "schema": {
                            "type": "string",
                            "default": "-created_at"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID. Example: `ver_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields[checks]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "submitted_data",
                                    "result",
                                    "created_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "filter[result]",
                        "in": "query",
                        "description": "Filter by check result.",
                        "schema": {
                            "examples": [
                                "uncompromised"
                            ],
                            "$ref": "#/components/schemas/CheckResult"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `CheckResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CheckResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "verifications.checks.store",
                "description": "Requires the `check:write` ability.",
                "summary": "Check a verification",
                "tags": [
                    "Checks"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID. Example: `ver_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields[checks]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "submitted_data",
                                    "result",
                                    "created_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`CheckResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CheckResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/verifications/{verification}/checks/{check}": {
            "get": {
                "operationId": "verifications.checks.show",
                "description": "Requires the `check:read` ability.",
                "summary": "Get a check for a verification",
                "tags": [
                    "Checks"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID. Example: `ver_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "check",
                        "in": "path",
                        "required": true,
                        "description": "The check ID. Example: `chk_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields[checks]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "submitted_data",
                                    "result",
                                    "created_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CheckResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CheckResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/aba-checks": {
            "get": {
                "operationId": "aba-checks.index",
                "description": "Requires the `aba_check:read` ability.",
                "summary": "List all ABA checks",
                "tags": [
                    "ABA checks"
                ],
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Available sorts are `created_at`, `updated_at`, `aba_date`, `status`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-created_at`.",
                        "schema": {
                            "type": "string",
                            "default": "-created_at"
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "The number of results that will be returned per page.",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "The page number to start the pagination from.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "entries",
                                    "entries.verification"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[aba-checks]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "description",
                                    "aba_date",
                                    "original_file_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[aba-check-entries]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "account_name",
                                    "bsb",
                                    "account_number",
                                    "amount",
                                    "lodgement_reference",
                                    "result",
                                    "passed"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[verifications]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "business_name",
                                    "business_abn",
                                    "account_name",
                                    "account_bsb",
                                    "account_number",
                                    "individual_name",
                                    "individual_mobile",
                                    "individual_confirmation_mode",
                                    "send_individual_confirmation_sms",
                                    "accept_close_match",
                                    "attribution_id",
                                    "individual_confirmation_url",
                                    "failure_reason",
                                    "checks",
                                    "resolved_individual_name",
                                    "resolved_business_entity_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "Filter by ABA check status.",
                        "schema": {
                            "examples": [
                                "passed"
                            ],
                            "$ref": "#/components/schemas/AbaCheckStatus"
                        }
                    },
                    {
                        "name": "filter[aba_date]",
                        "in": "query",
                        "description": "Filter by ABA processing date.",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "examples": [
                                "2026-04-28"
                            ]
                        }
                    },
                    {
                        "name": "filter[created_at_start]",
                        "in": "query",
                        "description": "Filter ABA checks created on or after this datetime.",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "examples": [
                                "2026-04-01T00:00:00Z"
                            ]
                        }
                    },
                    {
                        "name": "filter[created_at_end]",
                        "in": "query",
                        "description": "Filter ABA checks created on or before this datetime.",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "examples": [
                                "2026-04-30T23:59:59Z"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `AbaCheckResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AbaCheckResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "anyOf": [
                                                    {
                                                        "$ref": "#/components/schemas/AbaCheckEntryResource"
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/VerificationResource"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "aba-checks.store",
                "description": "The ABA check will be created and the entries will be matched to verifications.\n\nRequires the `aba_check:write` ability.",
                "summary": "Upload a single ABA file",
                "tags": [
                    "ABA checks"
                ],
                "parameters": [
                    {
                        "name": "include",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "entries",
                                    "entries.verification"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[aba-checks]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "description",
                                    "aba_date",
                                    "original_file_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[aba-check-entries]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "account_name",
                                    "bsb",
                                    "account_number",
                                    "amount",
                                    "lodgement_reference",
                                    "result",
                                    "passed"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[verifications]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "business_name",
                                    "business_abn",
                                    "account_name",
                                    "account_bsb",
                                    "account_number",
                                    "individual_name",
                                    "individual_mobile",
                                    "individual_confirmation_mode",
                                    "send_individual_confirmation_sms",
                                    "accept_close_match",
                                    "attribution_id",
                                    "individual_confirmation_url",
                                    "failure_reason",
                                    "checks",
                                    "resolved_individual_name",
                                    "resolved_business_entity_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAbaCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`AbaCheckResource`",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbaCheckResource"
                                        },
                                        "included": {
                                            "type": "array",
                                            "items": {
                                                "anyOf": [
                                                    {
                                                        "$ref": "#/components/schemas/AbaCheckEntryResource"
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/VerificationResource"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/aba-checks/{aba_check}": {
            "get": {
                "operationId": "aba-checks.show",
                "description": "Requires the `aba_check:read` ability.",
                "summary": "Get an ABA check",
                "tags": [
                    "ABA checks"
                ],
                "parameters": [
                    {
                        "name": "aba_check",
                        "in": "path",
                        "required": true,
                        "description": "The ABA check ID. Example: `aba_01jz8v2q4x...`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "entries",
                                    "entries.verification"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "fields[aba-checks]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "status",
                                    "description",
                                    "aba_date",
                                    "original_file_name",
                                    "created_at",
                                    "updated_at"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
[...]
