{
    "openapi": "3.1.0",
    "info": {
        "title": "ezyshield",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https:\/\/local-vj8qtz.ezyshield.com.au\/api\/verification"
        }
    ],
    "tags": [
        {
            "name": "Verification"
        },
        {
            "name": "Check"
        }
    ],
    "security": [
        {
            "verification": []
        }
    ],
    "paths": {
        "\/verifications": {
            "get": {
                "operationId": "verification.verifications.index",
                "summary": "List all verifications",
                "tags": [
                    "Verification"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `VerificationResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/VerificationResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "verification.verifications.store",
                "summary": "Create a verification",
                "tags": [
                    "Verification"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/StoreVerificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`VerificationResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/VerificationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/verifications\/{verification}": {
            "get": {
                "operationId": "verification.verifications.show",
                "summary": "Get a verification",
                "tags": [
                    "Verification"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`VerificationResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/VerificationResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/verifications\/{verification}\/checks": {
            "get": {
                "operationId": "verification.verifications.checks.index",
                "summary": "List all checks for a verification",
                "tags": [
                    "Check"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `CheckResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CheckResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "verification.verifications.checks.store",
                "summary": "Create (check) a verification",
                "tags": [
                    "Check"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/StoreCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`CheckResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CheckResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/verifications\/{verification}\/checks\/{check}": {
            "get": {
                "operationId": "verification.verifications.checks.show",
                "summary": "Get a check for a verification",
                "tags": [
                    "Check"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "description": "The verification ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "check",
                        "in": "path",
                        "required": true,
                        "description": "The check ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CheckResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CheckResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "verification": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "CheckResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The check ID."
                    },
                    "result": {
                        "type": "string",
                        "description": "The result of the check."
                    },
                    "created_at": {
                        "type": "string",
                        "description": "ISO 8601 formatted date-time."
                    }
                },
                "required": [
                    "id",
                    "result",
                    "created_at"
                ],
                "title": "CheckResource"
            },
            "StoreCheckRequest": {
                "type": "object",
                "properties": {
                    "business_name": {
                        "type": "string",
                        "description": "The business name.",
                        "maxLength": 255
                    },
                    "phone": {
                        "type": "string",
                        "description": "An Australian mobile phone number."
                    },
                    "account_abn": {
                        "type": "string",
                        "description": "A valid 11-digit ABN."
                    },
                    "account_name": {
                        "type": "string",
                        "description": "The bank account name."
                    },
                    "account_bsb": {
                        "type": "string",
                        "description": "A valid 6-digit BSB."
                    },
                    "account_number": {
                        "type": "string",
                        "description": "A valid 6-10-digit account number."
                    }
                },
                "required": [
                    "business_name",
                    "phone",
                    "account_abn",
                    "account_name",
                    "account_bsb",
                    "account_number"
                ],
                "title": "StoreCheckRequest"
            },
            "StoreVerificationRequest": {
                "type": "object",
                "properties": {
                    "business_name": {
                        "type": "string",
                        "description": "The business name.",
                        "maxLength": 255
                    },
                    "phone": {
                        "type": "string",
                        "description": "An Australian mobile phone number."
                    },
                    "account_abn": {
                        "type": "string",
                        "description": "A valid 11-digit ABN."
                    },
                    "account_name": {
                        "type": "string",
                        "description": "The bank account name."
                    },
                    "account_bsb": {
                        "type": "string",
                        "description": "A valid 6-digit BSB."
                    },
                    "account_number": {
                        "type": "string",
                        "description": "A valid 6-10-digit account number."
                    }
                },
                "required": [
                    "business_name",
                    "phone",
                    "account_abn",
                    "account_name",
                    "account_bsb",
                    "account_number"
                ],
                "title": "StoreVerificationRequest"
            },
            "VerificationResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "The verification ID."
                    },
                    "status": {
                        "description": "The current status of the verification.",
                        "$ref": "#\/components\/schemas\/VerificationStatus"
                    },
                    "created_at": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "ISO 8601 formatted date-time."
                    },
                    "updated_at": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "ISO 8601 formatted date-time."
                    }
                },
                "required": [
                    "id",
                    "status",
                    "created_at",
                    "updated_at"
                ],
                "title": "VerificationResource"
            },
            "VerificationStatus": {
                "type": "string",
                "enum": [
                    "created",
                    "pending",
                    "verified",
                    "rejected",
                    "failed",
                    "cancelled",
                    "expired",
                    "error"
                ],
                "title": "VerificationStatus"
            }
        },
        "responses": {
            "AuthorizationException": {
                "description": "Authorization error",
                "content": {
                    "application\/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            },
            "AuthenticationException": {
                "description": "Unauthenticated",
                "content": {
                    "application\/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            },
            "ValidationException": {
                "description": "Validation error",
                "content": {
                    "application\/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Errors overview."
                                },
                                "errors": {
                                    "type": "object",
                                    "description": "A detailed description of each field that failed validation.",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "required": [
                                "message",
                                "errors"
                            ]
                        }
                    }
                }
            },
            "ModelNotFoundException": {
                "description": "Not found",
                "content": {
                    "application\/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            }
        }
    }
}